.chatBox{
    width:500px;
    height: 500px;
    background-color: green;
    margin:auto;
    overflow: scroll;
}
.message{
    background-color: grey;
    width: 70%;
    height: 100px;
    border-radius: 0.25rem;
    margin: 10px;
    padding: 10px;

}