.post {
  width: 70%;
  height: 500px;
  background-color: grey;
  margin: auto;
  margin-bottom: 10px;
}
.comment {
  width: 80%;
  height: 50px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: white;
}
.comment > h6 {
  margin-left: 5px;
}
.comment > p {
  margin-left: 5px;
}
